.home .card {
    border-radius: 0.45rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0px 16px 21px rgb(0 0 0 / 4%);
}
.card {
    border-radius: 0;
    border: none;
    
}
.card-header {
    background: white;
    h5 {
        font-size: 1.1rem;
    }
}

.card-header:first-child {
    border-radius: calc(0.45rem - 1px) calc(0.45rem - 1px) 0 0;
}
