.form-select, select.form-control{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    &:focus {   
        box-shadow: none;
        outline: none;
}
}

.search-input{
    border-right-color: white;
}
.form-control-sm, .form-select-sm, .input-group-text {
    border-radius: 0.32rem;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid #d3d3d3;
    }
    &:disabled {
        border: 1px solid var(--bs-gray-200);
        color: #788084;s
        &::placeholder {
            color: #788084;
        }
    }
    
}

.btn {
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.btn.next, .btn.siguiente{
    border-radius: 10px;
    width: 200px;
}

.btn.previous {
    border-radius: 10px;
    width: 200px;
    margin-right: 2rem;
    color: #fff;
    background-color: #828282;
    border-color: #828282;
}


  label.file {
    display:block;
    margin: 0;
    padding: 5px 1.5rem;
    width: auto;
    max-width: 400px;
    height: 31px;
    background-color: white;
    border: 1px solid #ced4da;
    color: black;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    svg {
      height: 12px;
    width: 12px;
    position: relative;
    top: -2px;
    }
  }
  
  label.file:hover {
    background:#ADADAD;
  }
  
  [type=file]{
    display:none;
  }
  
#reportrange {
  span {
    
    color: #212529;
  }
  i {
    font-size: 1rem;
  }
  svg {
    width: 12px;
    height: 12px;
    vertical-align: baseline;
    margin-left: 4px;
  }
}
.daterangepicker .ranges li.active {
  background-color: #FFF1F3;
  color: var(--upch-primary);
  font-weight: 600;
}
.daterangepicker .ranges li {
  font-weight: 500;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: var(--upch-blue);
  border-color: transparent;
  color: #fff;
}
.daterangepicker td.in-range {
  background-color: rgb(23 74 227 / 6%);
}
  .pago-body {
    .container-checkbox {
      margin-bottom: 18px;
      left: 50%;
    }
  }

.btn-outline-danger {
    color: var(--upch-primary);
    border-color: var(--upch-primary);
    border:1.5px solid;
    border-radius: .45rem;
    span {
      font-weight: 500;
    }
    &:hover {   
      background:var(--upch-red-lighter);
      color: var(--upch-primary);
      border-color: var(--upch-primary);
      
    }
}

.btn-outline-info {
    color: var(--upch-blue);
    border-color: var(--upch-blue);
    font-weight: 500;
    &:hover {   
      background:var(--upch-blue);
      color: white;
      border-color: var(--upch-blue);
      
    }
}

//multiselect

.multi-select-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.multi-select-menu {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 1.5em;
  float: left;
  min-width: 100%;
  background: #fff;
  margin: 1em 0;
  border-radius: 5px;
  padding: 0.4em;
  border: 1px solid #ced4da;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

.multi-select-menu input {
  margin-right: 0.3em;
  vertical-align: -0.12em;
}

.multi-select-button {
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  width: 100%;
  max-width: 100%;
  display: inline-block;
  font-size: 0.875em;
  padding: 0.25rem 0.5rem;
  padding-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -0.5em;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  cursor: default;
  min-height: 32px;
}


.multi-select-container--open .multi-select-menu { display: block; }

.multi-select-container--open .multi-select-button:after {
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #999 transparent;
}

label.multi-select-menuitem { 
  display: block;
  border-bottom: 1px solid rgb(204 204 204 / 35%);
    padding: 0.18em 0;
    &:last-child {
      border-bottom: 0;
    }
}

.btn-sumilla {
  padding: 0;
  margin-left: 3px;
  font-size: 0;
  line-height: 0;
  margin-top: 3px;
  svg {
      vertical-align: initial;
      position: relative;
      top: -2px;
  }
}





#send_copy {
  form {
    .form-control {
      background: #E9ECEF;
      border-color: #E9ECEF ;
      color: #474747;
    }
  }
}

//react

.form-select-three {
  width: 100%!important;
 
    .rs-picker-toggle {
      padding-top: 0.25rem!important;
      padding-bottom: 0.25rem!important;
      padding-left: 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.25rem!important;
      border: 1px solid #ced4da!important;
    }
    
  svg {
    fill: var(--upch-primary);
  }
}
.notas {
  .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 4px!important;
  }
  .rs-picker-menu {
    overflow: unset!important;
    min-height: 150px!important;
    height: 250px!important;
  }
}

.rs-picker-toggle .rs-picker-toggle-placeholder {
  color: #000000!important;
  font-weight: 400!important;
}
.rs-picker-value-count {
  background-color: var(--upch-blue)!important;
}